{% extends 'polls/base.html' %}

{% block content %}

<h1>{{ question.question_text }}</h1>
    {% if question.author %}
        <p>Author: {{ question.author.username }}</p>
    {% endif %}

{% if request.user == question.author %}
    <!-- choice creation form -->
    <h3>Create a new Choice!</h3>
    <form method='POST'>
        {% csrf_token %}
        {{ choice_form.as_p }}

      <input type="submit" value="Submit new choice!">
    </form>
    {% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="Vote">
</form>

{% endblock content %}